@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  color-scheme: dark;
}

body {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

* {
  box-sizing: border-box;
}
